* {
  margin: 0;

}

.secondary-section {
  width: 100%;
  background-color: #ccc;
  height: 1200px;
  box-shadow: inset 0 0 20px #000;


}

.main-section {
  width: 100%;
  position: sticky;
  top: 0;

}

.sub-section {
  width: 100%;
  height: 100px;
  background-color: #ff525d;
  font-size: 72px;
}

.second-stick .sub-section {
  background-color: #94f799;
}
