*{
  margin: 0;
}

.dropdown{
  font-size: 40px;
}

.animated{
  width: 100px;
  height: 100px;
}

.first-animated{
  background-color: bisque;
  height: 0px;
  transition: height 1s linear 2s;
}

.second-animated{
  background-color: coral;
  opacity: 0;
  transition: opacity 1s linear 1s;
}

.third-animated{
  background-color: cornflowerblue;
  transform: skew(90deg);
  transition: transform 1s linear 0s;
}

.dropdown:hover ~ .first-animated{
  background-color: bisque;
  height: 100px;
  transition: height 1s linear 0s;
}

.dropdown:hover ~ .second-animated{
  background-color: coral;
  opacity: 1;
  transition: opacity 1s linear 1s;
}

.dropdown:hover ~ .third-animated{
  background-color: cornflowerblue;
  transform: skew(0deg);
  transition: transform 1s linear 2s;
}